<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>
<!-- <%= link_to 'Edit', edit_category_path(@category) %> | -->
<button type="button" class="btn btn-outline-primary"><%= link_to 'Back', categories_path %></button>

<%= form_with(model:[@category,@product]) do |form| %>
<%= form.hidden_field :category_id, value: @category.id %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name%>
  </div>
  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

      <% @category.products.each do |pro| %>
      <tr>
      <th><%= pro.name %></th>
      <th><%= pro.price %></th>
      <th><%= link_to 'X', category_product_path(@category, pro), method: :delete %></th>

      <% end %>
    </tr>
  </tbody>
</table>
<ul>
